*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

:root{
--bg:#0a0a0a;
--card:#121212;
--text:#fff;
--accent:#38bdf8;
}

body{
background:var(--bg);
color:var(--text);
}

.header{
display:flex;
justify-content:space-between;
padding:20px;
background:#000;
}

.navbar a{
color:white;
margin:10px;
text-decoration:none;
}

.home{
padding:100px 20px;
text-align:center;
}

.btn{
background:var(--accent);
padding:10px 20px;
color:black;
border-radius:20px;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.skills-box{
background:var(--card);
padding:20px;
border-radius:10px;
}

.projects-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.project-card{
background:var(--card);
padding:20px;
border-radius:10px;
text-decoration:none;
color:white;
}

.project-card:hover{
border:1px solid var(--accent);
}

.contact{
text-align:center;
padding:50px;
}

.footer{
text-align:center;
padding:20px;
}
